{% comment %}
*
*	More Information : https://mathiasbynens.be/notes/touch-icons
* https://github.com/audreyr/favicon-cheat-sheet
*
{% endcomment %}
{% assign url = site.baseurl | prepend: site.url %}
{% comment %} For new browsers multisize ico {% endcomment %}
<link rel="icon" type="image/x-icon" sizes="16x16 24x24 32x32" href="{{site.baseurl}}/favicon.ico">
{% comment %} Chrome for Android {% endcomment %}
<link rel="icon" sizes="192x192" href="{{url}}/assets/favicon/favicon-192.png">
{% comment %} For iPhone 6+ downscaled for other devices {% endcomment %}
<link rel="apple-touch-icon-precomposed" sizes="180x180" href="{{url}}/assets/favicon/favicon-180.png">
{% comment %} For iPad with @2× display running iOS ≥ 7: {% endcomment %}
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{url}}/assets/favicon/favicon-152.png">
{% comment %} For iPad with @2× display running iOS ≤ 6: {% endcomment %}
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{url}}/assets/favicon/favicon-144.png">
{% comment %} For iPhone with @2× display running iOS ≥ 7: {% endcomment %}
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{url}}/assets/favicon/favicon-120.png">
{% comment %} For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: {% endcomment %}
<link rel="apple-touch-icon-precomposed" href="{{url}}/assets/favicon/favicon-57.png">
{% comment %} For IE10 Metro {% endcomment %}
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-TileImage" content="{{url}}/assets/favicon/favicon-144.png">
