<div id="ck-message" class="ui hidden container" style="max-width:470px!important">
  <div class="ui floating message">
    <span class="title">
    Acest website folosește cookie-uri. Dacă navigați prin acest site, sunteți de acord cu utilizarea cookie-urilor. &nbsp;<a id="ok-ck" href="#">[Am înțeles]</a>
    </span>
    <i class="close icon"></i>
  </div>
</div>
<div class="ui vertical footer padded yellow segment" style="background:#fff">
  <div id="footer-container" class="ui container">
    <div class="ui stackable divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui header">Navigare</h4>
        <div class="ui link list">
          <a href="/search" class="item">Caută</a>
          <a href="/archive" class="item">Arhivă</a>
          <a href="/info" class="item">Info</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui header">Contact</h4>
        <div class="ui link list">
          <a href="/contact" class="item">Lasă un mesaj</a>
          <div class="item" style="margin-top:8px">
            <a href="https://www.facebook.com/zi.cu.soare.ro"><i class="s1 bordered icon"></i></a>
            <a href="https://twitter.com/zi_cu_soare"><i class="s3 bordered icon"></i></a>
            <a href="/feed.xml"><i class="feed yellow bordered icon"></i></a>
          </div>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui header">Licență</h4>
        <p><i class="copyright icon"></i>Copyright 2016-2017 <b><img alt="Logo" class="logo" src="/assets/favicon/favicon-32.png" style="margin-right:2px" /><u>Zi-cu-Soare.ro</u></b>.</p>
        <p>Toate drepturile rezervate.</p>
      </div>
    </div>
  </div>
</div>
