<div class="ui top attached main menu">
  <div class="right menu">
  <a id="open-menu" class="item">
    <i class="sidebar icon"></i> Meniu
  </a>
  </div>
</div>

<div class="ui top sidebar ui segment push">
  <div class="ui page grid">
    <div class="one column row">
      <div class="sixteen wide column center aligned">
        <h2 class="ui header">Zi cu Soare</h2>
      </div>
    </div>
    <div class="three column divided row">
      <div class="column">
        <h4 class="ui header">Navigare</h4>
        <div class="ui link list">
          <a href="/search" class="item">Caută</a>
          <a href="/archive" class="item">Arhivă</a>
          <a href="/info" class="item">Info</a>
        </div>
      </div>
      <div class="column">
        <!-- <h4 class="ui header">Categorii</h4>
        <div class="ui link list">
          <a href="/bucatarie" class="item {% if page.url == "/bucatarie/" %}active{% endif %}">Mami gătește</a>
          <a href="/montessori" class="item {% if page.url == "/montessori/" %}active{% endif %}">Montessori acasă</a>
          <a href="/pasiuni" class="item {% if page.url == "/pasiuni/" %}active{% endif %}">Pasiunile mele</a>
          <a href="/timp_liber" class="item {% if page.url == "/timp_liber/" %}active{% endif %}">Timp liber</a>
          <a href="/vacanta" class="item {% if page.url == "/vacanta/" %}active{% endif %}">În vacanță</a>
        </div> -->
      </div>
      <div class="column">
        <img class="ui wireframe image" src="/assets/favicon/favicon-32.png">
      </div>
    </div>
  </div>
</div>

<!-- <div id="header-container" class="ui top wide sidebar ui segment push">
  <a class="item active">
    <i class="home icon"></i>
    Home
  </a>
  <a class="item">
    <i class="block layout icon"></i>
    Topics
  </a>
  <a class="item">
    <i class="smile icon"></i>
    Friends
  </a>
</div> -->

<!-- <div class="ui large attached main menu">
  <div id="header-container" class="ui container">
    <a class="item {% if page.url == "/" %}active{% endif %}" href="/">
      <img alt="Logo" class="logo" src="/assets/favicon/favicon-32.png" style="margin-left:-8px" />
      &nbsp;Zi cu Soare
    </a>
    <div class="ui simple dropdown item">
      Meniu <i class="dropdown icon"></i>
      <div class="menu">
        <a href="/info" class="item {% if page.url == "/info/" %}active{% endif %}">
          <i class="info icon"></i> Info</a>
        <a href="/archive" class="item {% if page.url == "/archive/" %}active{% endif %}">
          <i class="archive icon"></i> Arhivă</a>

        <div class="ui simple dropdown item">
          Categorii <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item {% if page.url == "/bucatarie/" %}active{% endif %}" href="/bucatarie">Mami gătește</a>
            <a class="item {% if page.url == "/montessori/" %}active{% endif %}" href="/montessori">Montessori acasă</a>
            <a class="item {% if page.url == "/pasiuni/" %}active{% endif %}" href="/pasiuni">Pasiunile mele</a>
            <a class="item {% if page.url == "/timp_liber/" %}active{% endif %}" href="/timp_liber">Timp liber</a>
            <a class="item {% if page.url == "/vacanta/" %}active{% endif %}" href="/vacanta">În vacanță</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
