<div class="ui huge yellow attached main menu">
  <div class="ui container">
    <div class="header item">
      <img src="{{ "/assets/fav" | absolute_url }}/favicon-32.png" style="width:2em;height:2em;" />
      &nbsp; Zi cu Soare
    </div>
    <a class="item {% if page.url == "/" %}active{% endif %}" href="/"><i class="home icon"></i> Acasă</a>
    <div class="ui simple dropdown item">
      Categorii <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item">Mami gătește</a>
        <a class="item">Montessori acasă</a>
        <a class="item">Pasiunile mele</a>
        <a class="item">Timp liber</a>
        <a class="item">În vacanță</a>
      </div>
    </div>
    <a class="item {% if page.url == "/info/" %}active{% endif %}" href="/info"><i class="info icon"></i> Info</a>
  </div>
</div>
