<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>
<!-- <script async src="https://cdnjs.cloudflare.com/ajax/libs/jBox/0.4.7/jBox.min.js"></script>
<script async src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script> -->
<script async type="text/javascript">
$(function(){
  // Cookie warning
  if (localStorage.getItem('accepted-cookie') != 'true'){
    $('.cookie.message').removeClass("hidden")
  }
  $('.cookie.message .close').on('click', function(){
    $(this).closest('.message').transition('fade')
  })
  $('#accept-cookie').on('click', function(e){
    e.preventDefault()
    localStorage.setItem('accepted-cookie', true)
    $('.cookie.message .close').click()
  })
})
</script>
