<div class="ui fluid category search" style="max-width:28em">
  <div class="ui large fluid icon input">
    <input id="search" class="prompt" type="text" placeholder="Caută ..." />
    <i class="search icon"></i>
  </div>
  <h5 style="margin-top:1em">Căutare în:</h5>
  <div class="ui checkbox">
    <input id="s-title" type="checkbox" tabindex="0" class="hidden">
    <label for="s-title">Titlu</label>
  </div> | &nbsp;
  <div class="ui checkbox">
    <input id="s-descrip" type="checkbox" tabindex="0" class="hidden">
    <label for="s-descrip">Descriere</label>
  </div> | &nbsp;
  <div class="ui checkbox">
    <input id="s-author" type="checkbox" tabindex="0" class="hidden">
    <label for="s-author">Autor</label>
  </div> | &nbsp;
  <div class="ui checkbox">
    <input id="s-category" type="checkbox" tabindex="0" class="hidden">
    <label for="s-category">Categorie</label>
  </div> | &nbsp;
  <div class="ui checkbox">
    <input id="s-tag" type="checkbox" tabindex="0" class="hidden">
    <label for="s-tag">Tag-uri</label>
  </div>
</div>

<div id="arch" class="ui large feed" style="margin-top:2em"></div>
<script async src="/assets/js/search.min.js"></script>
