---
title: "Mami gătește"
layout: category
permalink: /bucatarie/
top_image: hv1mrbzggny-webvilla.jpg
---
<p>Mancarea a fost pentru mine inca din copilarie un rasfat si o placere. Bunica imi facea toate poftele in vacantele de vara, ma rasfata cu gogosi, paine la cuptor, scovergi, ciorba de fasole cu leustean in oala de pamant, pe foc de jar...<br />
Mama este si ea o mare gospodina. In copilarie totul se pregatea in casa, niciodata nu ne-a lipsit nimic si sarbatorile erau pline de bunatati sanatoase. Tata un barbat atipic atunci cand era vorba de gatit, gatea cu placere si de cele mai multe ori mancarea ii iesea chiar mai gustoasa decat cea facuta de mama! Inca de mic copil, imi placea sa-mi bag nasul in treburile casnice si o faceam cu mare drag uneori, alteori pentru ca asa era firesc sa particip intr-un fel sau altul la pregatirea mesei (taiat ceapa, curatat cartofi…). In liceu si mai departe devenisem experta in prajiturit si cam tot ce incercam in materie de retete imi iesea, si culmea imi si placea.<br />
Pana m-am mutat la casa mea si am ajuns adult responsabil, ai mei erau cei ce pregateau si se ocupau cu mancarea si cumparaturile. Ii ajutam uneori, insa ei duceau "greul".<br />
Cand m-am mutat de acasa mi-a fost usor sa pregatesc tot ce vazusem la ai mei de-a lungul anilor. Experimentasem si stiam fiecare ingredient si modalitatile de preparare. Mi-a fost usor sa gatesc apoi pentru doi, iar acum pentru trei.<br />
De 2 ani si jumatate gatesc pentru toti trei retete ovo-lacto-vegetariene, anul acesta eu am trecut la veganism. Voi adauga articole cu retete sanatoase si alimente de baza pe care noi le folosim, precum si magazine incercate cu produse bio si sanatoase pe care le recomand, carti de specialitate, precum si modalitatea aleasa de mine pentru diversificarea naturala a baietelului meu.<br />
Nu sunt o pasionata a bucatariei, nu-mi place sa petrec ore in bucatarie, iar mancarurile complicate si de durata imi dau durere de cap si ma seaca de energie. Imi place in schimb sa gatesc pentru cei dragi, iar atunci cand fac asta pentru ei, o fac cu mare drag si pun ca ingredient principal, multa iubire si daruire.</p>

<h2>Lista de articole</h2>
<div class="ui large feed" style="margin-top:1em">
{% for post in site.categories.bucatarie %}
{% if post.draft %}{% continue %}{% endif %}{% include article_sm.html post=post %}
{% else %}
Deocamdată nu e nici un articol. :blush:
{% endfor %}
</div>
