---
title: "Montessori acasă"
layout: category
permalink: /montessori/
top_image: gzlsrmpwz0o-alexander-dummer.jpg
---
<h1>Educația Montessori</h1>

<p>"Copilul este înzestrat cu puteri necunoscute care ne pot călăuzi spre un viitor strălucit. Dacă ceea ce vrem cu adevărat este o lume nouă, atunci educaţia trebuie să aibă drept scop dezvoltarea acestor posibilităţi ascunse." <b><i>Maria Montessori - Mintea absorbantă</i></b></p>

<p>"La inceputul anilor 1900, dr. Maria Montessori a elaborat această metodă educațională, pe baza observațiilor sale știintifice asupra comportamentului copiilor. Având cunoștinte solide în materie de pedagogie, antropologie și psihiatrie, ea a dezvoltat ideea că fiecare copil se naște cu un potential unic ce trebuie valorificat, copilul nefiind doar un "vas gol" care așteaptă să fie umplut.
Astfel a luat ființă o metodă de auto-educație și dezvoltare care se bucură de recunoaștere în toată lumea.
Modelului pedagogic Montessori pune copilul în centru. Copiii Montessori învață într-un mediu non-competitiv și care-i susține în permanență, concentrându-se pe individualitatea copilului și pe nevoile lui specifice.
Copiii sunt încurajați să muncească independent, în ritmul lor, educatorul putând să lucreze cu fiecare în parte, sau în grupuri mici. Acest sistem atribuie copiilor anumite responsabilități și îi ajută să își dezvolte stilul personal de acumulare a cunoștințelor, timp în care educatorii acționează ca un ghid care le încurajează și le facilitează acțiunile.
Un principiu esențial al educației Montessori este că educatorul trebuie să fie în permanență atent la ce face copilul și nu invers. Educatorii Montessori sunt pregătiți profesional pentru această metodă și utilizează materiale Montessori special create.
Aceste materiale nu numai că stimulează simțurile și imaginația, dar sunt și auto-corectoare, permițând copilului să evolueze în ritmul lui și să învețe din propriile lui greșeli.
Materialele speciale și modul in care acestea îi sunt prezentate invită și lasă copilului să aleagă numai acele activități care îi incită interesul personal.
Sub îndrumarea educatorului, copiii dintr-o clasă Montessori acumulează cunoștințe făcând propriile lor descoperiri. Sunt astfel încurajate concentrarea, motivația, autodisciplina și dragostea pentru învățătură.
Mediul unei grădinițe Montessori unifică funcțiile sociale, psihologice, fizice și academice care îi sunt necesare unui copil pentru a dezvolta o atitudine pozitivă față de scoală: încredere în sine, simțul ordinii, curiozitate și concentrare, inițiativă și perseverență, abilitatea de a lua decizii și simțul responsabilității față de alti membrii ai clasei, școlii și comunității. Această fundație solidă îi va permite copilului educat într-un mediu Montessori să beneficieze de ea pe tot parcursul educației școlare dar și mai departe în viață." <b><i>Sursa: Gradinitamontessori.ro</i></b></p>

<p>Voi adăuga aici activitățile pe care le facem acasă și voi menționa de asemenea și vârsta la care noi le-am făcut, precum și interesul arătat pentru fiecare activitate în parte. În pedagogia Montessori nu există vârste standard pentru anumite activități. Acestea se realizează în functie de copil, interesul arătat, înclinații, răbdare, etc.</p>

<p>Pedagogia Montessori are urmatoarele arii curriculare pe care pune accent și anume:</p>
<div class="ui bulleted link list">
<a class="item">Viața practică;</a>
<a class="item">Dezvoltarea senzorială;</a>
<a class="item">Matematica;</a>
<a class="item">Natura și cultura.</a>
</div>

<p>Vom discuta despre fiecare arie curriculară în parte și voi prezenta activitați pe care noi le-am făcut pentru fiecare categorie în parte.</p>

<p>Pentru o mai bună înțelegere a acestei metode pedagogice, vă rămâne să aprofundați și să studiați urmatoarele cărți, folositoare pentru părinti și educatori deopotrivă:</p>
<div class="ui bulleted link list">
<a class="item">The Montessori Method - Maria Montessori;</a>
<a class="item">The Absorbent Mind - Maria Montessori;</a>
<a class="item">Copilul in familie - Maria Montessori;</a>
<a class="item">Bringing the Montessori Approach to your Early Years Practice - Barbara Isaacs;</a>
<a class="item">Cum sa cresti in copil extraordinar. Metoda Montessori - Tom Seldin;</a>
<a class="item">60 de activitati Montessori pentru bebelușul meu;</a>
<a class="item">100 de activitati stimulatoare Montessori;</a>
<a class="item">100 de activitati montessoriene pentru descoperirea lumii înconjurătoare.</a>
</div>

<p>Pe lângă celelalte materiale didactice, caietele Montessori și cardurile vă vor ajuta în lucrul zilnic cu cei mici, acasă.</p>
<p>De curând am vizionat filmul italian "Maria Montessori: Una vita per i bambini", pe care îl recomand cu mare drag și care o să vă ajute să percepeți altfel povestea din spatele pedagogiei montessoriene și a omului Maria Montessori.</p>

<h2>Lista de articole</h2>
<div class="ui large feed" style="margin-top:1em">
{% for post in site.categories.montessori %}
{% if post.draft %}{% continue %}{% endif %}{% include article_sm.html post=post %}
{% else %}
Deocamdată nu e nici un articol. :blush:
{% endfor %}
</div>
