---
title: Pasiunile mele
layout: category
permalink: /pasiuni/
top_image: m6f-anqil9k-peter-miranda.jpg
top_image_pos: top
---
<p>Întotdeauna mi-a fost ușor să vorbesc despre alții și să-i prezint frumos și cu drag, însă când vine vorba de mine și de munca mea, îmi este tare greu să mă laud și să-mi prezint creațiile și pasiunile.<br />
Pe scurt, îmi place să lucrez cu mâinile, să făuresc obiecte.<br />
După o perioadă de acomodare ca mămică, unde responsabilitatea este infinit mai mare, am decis să revin la activitatea mea preferată de a meșteri.<br />
Se spune că succesul reprezintă 1% inspirație, restul e multă muncă. În ultima perioadă am pus totul pe stand-by și m-am dedicat activităților montesoriene și gătitului de preparate gustoase și sănătoase pentru cel mic, însă simt că acum a sosit momentul să dedic timp și pasiunilor mele.<br />
Pasiunea mea a început în copilărie cu tăiat și cusut haine pentru păpuși, spre finele școlii primare desenam schițe de design, am continuat cu un curs de bijuterii, decoupage (tainele decoupage-ului le-am învățat singurică, urmărind tutoriale de pe internet) și croitorie (despre care voi vorbi separat).<br />
Îmi puteti admira creațiile pe pagina de <a href="https://www.facebook.com/AnaVintageBlue">Facebook Vintage-Blue</a> și <a href="https://vintage-blue.blogspot.ro">Blog-ul Vintage-Blue</a>, în curând voi adăuga articole aici. Pot personaliza prin tehnica decoupage cufere, cutii, oglinzi, seturi de botez, mărturii, invitații de nuntă, cuiere, ornamente, litere decorative...<br />
De fiecare dată am lucrat cu drag și multă grija. Îmi place să cred că produsul oferit de mine este unul de foarte bună calitate, finisat și frumos ambalat.<br />
Vă las pe voi să admirați o parte din lucrușoarele pe care le-am făcut de-a lungul timpului și dacă vă place ceva anume <a href="/contact/">să-mi lăsați un mesaj</a>.</p>

{% include slider size='large' images='vb/vintage-10.jpg vb/vintage-11.jpg vb/vintage-12.jpg vb/vintage-13.jpg vb/vintage-14.jpg vb/vintage-15.jpg vb/vintage-16.jpg vb/vintage-17.jpg vb/vintage-18.jpg vb/vintage-19.jpg vb/vintage-20.jpg vb/vintage-21.jpg vb/vintage-22.jpg vb/vintage-23.jpg vb/vintage-24.jpg vb/vintage-25.jpg vb/vintage-26.jpg vb/vintage-27.jpg vb/vintage-28.jpg vb/vintage-29.jpg vb/vintage-30.jpg vb/vintage-31.jpg vb/vintage-32.jpg vb/vintage-33.jpg vb/vintage-34.jpg vb/vintage-35.jpg vb/vintage-36.jpg vb/vintage-37.jpg vb/vintage-38.jpg vb/vintage-39.jpg vb/vintage-40.jpg vb/vintage-41.jpg vb/vintage-42.jpg vb/vintage-43.jpg vb/vintage-44.jpg vb/vintage-45.jpg vb/vintage-46.jpg vb/vintage-47.jpg vb/vintage-48.jpg vb/vintage-49.jpg vb/vintage-50.jpg' %}

<h2 style="margin-top:0">Lista de articole</h2>
<div class="ui large feed" style="margin-top:1em">
{% for post in site.categories.pasiuni %}
{% if post.draft %}{% continue %}{% endif %}{% include article_sm.html post=post %}
{% else %}
Deocamdată nu e nici un articol. :blush:
{% endfor %}
</div>
