---
title: Pasiunile mele
layout: category
permalink: /pasiuni/
top_image: m6f-anqil9k-peter-miranda.jpg
top_image_pos: top
---
<p>Intotdeauna mi-a fost usor sa vorbesc despre altii si sa-i prezint frumos si cu drag, insa cand vine vorba de mine si de munca mea imi este tare greu sa ma prezint si sa-mi prezint creatiile si pasiunile.<br />
Pe scurt, imi place sa lucrez cu mainile, sa fauresc obiecte.<br />
Dupa o perioada de acomodare ca mamica, unde responsabilitatea este infinit mai mare, am decis sa revin la activitatea mea preferata de a mesteri.<br />
Se spune ca succesul reprezinta 1% inspiratie, restul e multa munca. In ultima perioada am cam pus totul pe stand-by si m-am dedicat activitatilor montesoriene si gatitului de preparate gustoase si sanatoase pentru cel mic, insa simt ca acum a sosit momentul sa dedic timp si pasiunilor mele.<br />
Am inceput in copilarie cu taiat si cusut haine pentru papusi, spre finele scolii primare desenam schite de design, am continuat cu un curs de bijuterii, decoupage (tainele decoupage-ului le-am invatat singurica, urmarind tutoriale de pe internet) si croitorie (curs de care va voi vorbi intr-un articol separat).<br />
Imi puteti admira creatiile pe pagina de <a href="https://www.facebook.com/AnaVintageBlue">Facebook Vintage-Blue</a> si <a href="https://vintage-blue.blogspot.ro">Blog-ul Vintage-Blue</a>, in curand voi adauga articole aici. Pot personaliza prin tehnica decoupage cufere, cutii, oglinzi, seturi de botez, marturii, invitatii de nunta, cuiere, ornamente, litere decorative...<br />
De fiecare data am lucrat cu drag si multa grija. Imi place sa cred ca produsul oferit de mine este unul de foarte buna calitate, finisat si frumos ambalat.<br />
Va las pe voi sa admirati o parte din lucrusoarele pe care le-am facut de-a lungul timpului si daca va place ceva anume <a href="/contact/">sa-mi lasati un mesaj</a>.</p>

<h2>Lista de articole</h2>
<div class="ui large feed" style="margin-top:1em">
{% for post in site.categories.pasiuni %}
{% if post.draft %}{% continue %}{% endif %}{% include article_sm.html post=post %}
{% else %}
Deocamdată nu e nici un articol. :blush:
{% endfor %}
</div>
