---
layout: default
format: front
---
<style>
#mainhead {
  min-height: 680px;
  padding: 1em 0em;
  background: url({{ site.url }}{{ site.baseurl }}/assets/images/sun-golden-flowers.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}
</style>
<div id="mainhead" class="ui padded vertical center aligned segment">
  <div class="ui very padded basic segment">
    <h1>O zi cu soare ...</h1>
    <h2>Liniste ...</h2>
  </div>
</div>
<div class="ui vertical segment">
  <div class="ui container">
    {{ content }}
  </div>
</div>
