---
layout: default
format: post
---
{% capture ignore %}

{% assign author = site.data.authors[page.author] %}

{% assign url = site.baseurl | prepend: site.url | append: page.url %}

{% capture title %}{% if page.meta_title %}{{ page.meta_title}}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title | strip_html | strip }}{% endif %}{% endcapture %}

{% assign title = title | strip_html | escape | strip_newlines %}

{% endcapture %}
<div id="posthead" class="ui center aligned container" style="{% if page.top_image %}height:480px; background:url({{ site.url }}{{ site.baseurl }}/assets/top_images/{{ page.top_image }}) center no-repeat{% endif %}">
  <div class="ui very padded message">
    <h1 class="ui {% if page.title_color %}{{ page.title_color }}{% endif %} header">
      {{ page.title | escape_once }}
      {% if page.teaser %}<div class="sub header"{% if page.title_color %} style="color:{{ page.title_color }}"{% endif %}>{{ page.teaser | escape_once }}</div>{% endif %}
    </h1>
  </div>
</div>

<div id="content" class="ui text container">
  <div class="ui two column stackable grid" style="margin-bottom:5px">
    <div class="six wide column" style="padding-bottom:5px!important">
      <img class="ui avatar image" alt="Avatar" src="{{ author.avatar }}" />
      Scris de {{ author.name }}
    </div>
    <div class="column">
      <div class="ui basic small label" style="color:rgba(0,0,0,.5)" data-variation="small" data-tooltip="Data creerii"><i class="calendar icon"></i> {{ page.date | date: "%b %-d, %Y" }}</div>
      &nbsp;{% include read_time.html %}
    </div>
  </div>
  {% if page.draft %}<h1 class="ui red dividing center aligned header">DRAFT</h1>{% endif %}
  {{ content }}
</div>

<div class="ui two column stackable grid text container">
  <div class="six wide column" style="padding-left:0">
    Postat în:&nbsp;
    {% for cat in page.categories %}
      <a class="ui tag yellow label" {% if site.data.category contains cat %}href="/{{ cat }}"{% endif %}>
        {{ cat | xml_escape }}
      </a>
    {% endfor %}
  </div>
  <div class="ten wide column" style="padding-left:0">
    Tag-uri:&nbsp;
    {% for tag in page.tags %}
      <a class="ui tag label">{{ tag | xml_escape }}</a>
    {% endfor %}
  </div>
  <div class="six wide column" style="padding-left:0">
    <span id="total-reactions">
    Reactii:
    <div class="ui label"><i class="heart red icon"></i><span id="love-reactions">0</span></div>
    <div class="ui label"><i class="thumbs down brown icon"></i><span id="hate-reactions">0</span></div>
    </span>
  </div>
  <div class="column" style="padding-left:0">
    <span> Share: </span>
    <a href="https://www.facebook.com/sharer/sharer.php?s=100&u={{url}}"
      onclick="javascript:window.open(this.href,'','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=620,width=600');return false;">
    <i class="s1 circular link icon"></i>
    </a>
    <a href="https://plus.google.com/share?title=Zi-cu-Soare%20|%20{{title}}&url={{url}}"
      onclick="javascript:window.open(this.href,'','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=620,width=410');return false;">
    <i class="s2 circular link icon"></i>
    </a>
    <a href="https://twitter.com/intent/tweet?source={{url}}&text=Zi-cu-Soare%20|%20{{title}}:%20{{url}}"
      onclick="javascript:window.open(this.href,'','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=275,width=600');return false;">
    <i class="s3 circular link icon"></i>
    </a>
  </div>
</div>

<div class="ui text container" style="margin:1em">
  <div class="ui icon message" style="margin-top:2em">
    <i class="smile icon"></i>
    <div class="content">
      <div class="header" style="margin-bottom:5px">Spune-ți și tu părerea</div>
      <!-- <i id="comm-post" class="comment violet link icon"></i> -->
      <span id="my-reaction">
        <i id="send-love" class="heart link icon"></i><i id="send-hate" class="thumbs down link icon"></i>
      </span>
      |
      <span id="post-auth-req" class="hidden">
        Login cu: <i class="facebook login f link icon"></i> &nbsp;<i class="google login link icon"></i> &nbsp;<i class="twitter login link icon"></i>
      </span>
      <span id="post-auth-ok" class="hidden">
        Hello <i id="prov-id" class="icon" style="font-size:0.85em"></i><span id="user-name" style="color:#777"></span> | &nbsp;<i id="post-sign-out" class="sign out link icon">Ieșire</i>
      </span>
    </div>
  </div>
</div>

<script src="{{ "/assets/js" | absolute_url }}/postare.js"></script>
