---
layout: default
format: post
---
{% assign author = site.data.authors[page.author] %}
<div class="ui container" style="padding:2em 0 2em"><div class="ui grid"><div class="fourteen wide column" style="min-height:480px">
  <div class="ui feed">
    <div class="event">
      <div class="label">
        <img src="{{ author.avatar }}">
      </div>
      <div class="content">
        <div class="summary">
          Scris de
          <a class="user">{{ author.name }}</a>
          <div class="ui basic small label" style="color:rgba(0,0,0,.5)">
            <i class="calendar icon"></i> {{ page.date | date: "%b %-d, %Y" }}
          </div>
          &nbsp;{% include read_time.html %}
        </div>
      </div>
    </div>
  </div>

  <h1 class="ui dividing header">{{ page.title | escape_once }}</h1>
  <br />
  {{ content }}
  <br />
  <br />

  <div class="ui two column stackable grid">
    <div class="six wide column">
      Postat în:&nbsp;
      {% for cat in page.categories %}
        <a class="ui tag yellow label" {% if site.data.category contains cat %}href="/{{ cat }}"{% endif %}>
          {{ cat | xml_escape }}
        </a>
      {% endfor %}
    </div>
    <div class="ten wide column">
      Tag-uri:&nbsp;
      {% for tag in page.tags %}
        <a class="ui tag label">{{ tag | xml_escape }}</a>
      {% endfor %}
    </div>
    <div class="eight wide column">
      <span>Părerea ta:</span>
      <i class="empty heart icon"></i>
      <i class="comment outline icon"></i>
      <span>| &nbsp;Share:</span>
      <i class="facebook f icon"></i>
      <i class="google plus icon"></i>
      <i class="twitter icon"></i>
    </div>
  </div>

</div></div></div>
